In [2]:
# Basic modules
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd


# Gurobi module
from gurobipy import *

In [2]:
# df = pd.read_excel('./DataSeating 2024.xlsx', sheet_name=0 , skipfooter=2)

In [4]:
# df.to_csv("data.csv")

In [3]:
df= pd.read_csv("data.csv")

In [8]:
df.drop(columns=["Unnamed: 0"],axis=1,inplace=True)

In [10]:
df.head()

   Numéro du groupe  Femmes  Hommes  WCHR TransitTime
0                 1     NaN     1.0   NaN    01:15:00
1                 2     1.0     NaN   NaN    00:00:00
2                 3     NaN     1.0   NaN    00:00:00
3                 4     1.0     NaN   NaN    00:00:00
4                 5     NaN     2.0   NaN    05:25:00