# <font color=blue><div align="center">Seats Allocation within an Aircraft</div></font>

## Modules

In [1]:
# Modules de base
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

# Module relatif à Gurobi
from gurobipy import *

# Module csv
import csv

## Préprocessing des données

Pour la suite de notre étude, on considère le modèle d'avion **Airbus A320**, qui dispose de **174** sièges. (La classe businees n'est pas prise en compte)


<img src="modele_avion.jpg" alt="Modèle de l'avion" width="400" height="600">

In [2]:
number_of_seats = 174

In [3]:
# Load the Excel file into a pandas DataFrame

df_21Oct = pd.read_excel('../ST7 - AirFrance/DataSeating 2024.xlsx', sheet_name=0 , skipfooter=2)
df_22Oct = pd.read_excel('../ST7 - AirFrance/DataSeating 2024.xlsx', sheet_name=1 , skipfooter=2)
df_23Oct = pd.read_excel('../ST7 - AirFrance/DataSeating 2024.xlsx', sheet_name=2 , skipfooter=2)
df_24Oct = pd.read_excel('../ST7 - AirFrance/DataSeating 2024.xlsx', sheet_name=3 , skipfooter=2)
df_30Oct = pd.read_excel('../ST7 - AirFrance/DataSeating 2024.xlsx', sheet_name=4 , skipfooter=2)
df_05Nov = pd.read_excel('../ST7 - AirFrance/DataSeating 2024.xlsx', sheet_name=5 , skipfooter=2)
df_07Nov = pd.read_excel('../ST7 - AirFrance/DataSeating 2024.xlsx', sheet_name=6 , skipfooter=2)

In [4]:
# On choisit la df sur laquelle on va travailler

df = df_21Oct

In [5]:
df.head()

   Numéro du groupe  Femmes  Hommes  WCHR TransitTime
0                 1     NaN     1.0   NaN    01:15:00
1                 2     1.0     NaN   NaN    00:00:00
2                 3     NaN     1.0   NaN    00:00:00
3                 4     1.0     NaN   NaN    00:00:00
4                 5     NaN     2.0   NaN    05:25:00

In [6]:
def convert_TransitTime(time_val):

    # Convert time to minutes
    total_minutes = time_val.hour * 60 + time_val.minute
    
    # Check if total minutes is greater than 2 hours or equal to 0
    if total_minutes > 120 or total_minutes == 0:
        return float('inf')  # Return infinity
    else:
        return total_minutes

df['TransitTime'] = df['TransitTime'].apply(convert_TransitTime)

In [7]:
df

     Numéro du groupe  Femmes  Hommes  WCHR  TransitTime
0                   1     NaN     1.0   NaN         75.0
1                   2     1.0     NaN   NaN          inf
2                   3     NaN     1.0   NaN          inf
3                   4     1.0     NaN   NaN          inf
4                   5     NaN     2.0   NaN          inf
..                ...     ...     ...   ...          ...
106               107     1.0     NaN   NaN          inf
107               108     2.0     NaN   NaN          inf
108               109     2.0     NaN   NaN          inf
109               110     2.0     NaN   NaN         95.0
110               111     NaN     1.0   NaN         60.0

[111 rows x 5 columns]

In [8]:
# Groups : dict[int : List[int]]

Passagers = dict()
i = 1

for group in df.itertuples():
    if not pd.isna(group[2]):
        for k in range(int(group[2])):
            Passagers[i] = {'gender': 0, 'group':group[1], 'transit':group[5]}
            i+=1
    if not pd.isna(group[3]):
        for k in range(int(group[3])):
            Passagers[i] = {'gender': 1, 'group':group[1], 'transit':group[5]}
            i+=1
    if not pd.isna(group[4]):
        for k in range(int(group[4])):
            Passagers[i] = {'gender': 2, 'group':group[1], 'transit':group[5]}
            i+=1
    


    
Passagers

{1: {'gender': 1, 'group': 1, 'transit': 75.0},
 2: {'gender': 0, 'group': 2, 'transit': inf},
 3: {'gender': 1, 'group': 3, 'transit': inf},
 4: {'gender': 0, 'group': 4, 'transit': inf},
 5: {'gender': 1, 'group': 5, 'transit': inf},
 6: {'gender': 1, 'group': 5, 'transit': inf},
 7: {'gender': 0, 'group': 6, 'transit': inf},
 8: {'gender': 0, 'group': 7, 'transit': inf},
 9: {'gender': 0, 'group': 8, 'transit': 80.0},
 10: {'gender': 1, 'group': 8, 'transit': 80.0},
 11: {'gender': 1, 'group': 9, 'transit': inf},
 12: {'gender': 0, 'group': 10, 'transit': inf},
 13: {'gender': 0, 'group': 11, 'transit': inf},
 14: {'gender': 1, 'group': 11, 'transit': inf},
 15: {'gender': 1, 'group': 12, 'transit': 70.0},
 16: {'gender': 1, 'group': 13, 'transit': inf},
 17: {'gender': 0, 'group': 14, 'transit': inf},
 18: {'gender': 1, 'group': 14, 'transit': inf},
 19: {'gender': 1, 'group': 15, 'transit': inf},
 20: {'gender': 1, 'group': 16, 'transit': 95.0},
 21: {'gender': 0, 'group': 17, 'transit': 60.0},
 22: {'gender': 1, 'group': 17, 'transit': 60.0},
 23: {'gender': 1, 'group': 18, 'transit': 120.0},
 24: {'gender': 0, 'group': 19, 'transit': inf},
 25: {'gender': 0, 'group': 19, 'transit': inf},
 26: {'gender': 1, 'group': 19, 'transit': inf},
 27: {'gender': 1, 'group': 19, 'transit': inf},
 28: {'gender': 0, 'group': 20, 'transit': 65.0},
 29: {'gender': 0, 'group': 20, 'transit': 65.0},
 30: {'gender': 1, 'group': 20, 'transit': 65.0},
 31: {'gender': 1, 'group': 20, 'transit': 65.0},
 32: {'gender': 0, 'group': 21, 'transit': inf},
 33: {'gender': 0, 'group': 21, 'transit': inf},
 34: {'gender': 0, 'group': 22, 'transit': 65.0},
 35: {'gender': 0, 'group': 23, 'transit': 50.0},
 36: {'gender': 1, 'group': 23, 'transit': 50.0},
 37: {'gender': 0, 'group': 24, 'transit': inf},
 38: {'gender': 1, 'group': 24, 'transit': inf},
 39: {'gender': 1, 'group': 25, 'transit': 80.0},
 40: {'gender': 1, 'group': 26, 'transit': inf},
 41: {'gender': 1, 'group': 27, 'transit': inf},
 42: {'gender': 1, 'group': 27, 'transit': inf},
 43: {'gender': 1, 'group': 28, 'transit': inf},
 44: {'gender': 0, 'group': 29, 'transit': inf},
 45: {'gender': 1, 'group': 30, 'transit': inf},
 46: {'gender': 0, 'group': 31, 'transit': 95.0},
 47: {'gender': 1, 'group': 31, 'transit': 95.0},
 48: {'gender': 1, 'group': 32, 'transit': inf},
 49: {'gender': 1, 'group': 33, 'transit': inf},
 50: {'gender': 0, 'group': 34, 'transit': 90.0},
 51: {'gender': 1, 'group': 34, 'transit': 90.0},
 52: {'gender': 0, 'group': 35, 'transit': 70.0},
 53: {'gender': 1, 'group': 35, 'transit': 70.0},
 54: {'gender': 0, 'group': 36, 'transit': inf},
 55: {'gender': 1, 'group': 37, 'transit': inf},
 56: {'gender': 1, 'group': 38, 'transit': inf},
 57: {'gender': 0, 'group': 39, 'transit': 95.0},
 58: {'gender': 1, 'group': 39, 'transit': 95.0},
 59: {'gender': 1, 'group': 40, 'transit': 45.0},
 60: {'gender': 1, 'group': 41, 'transit': inf},
 61: {'gender': 1, 'group': 42, 'transit': inf},
 62: {'gender': 1, 'group': 43, 'transit': inf},
 63: {'gender': 1, 'group': 44, 'transit': inf},
 64: {'gender': 0, 'group': 45, 'transit': inf},
 65: {'gender': 1, 'group': 45, 'transit': inf},
 66: {'gender': 1, 'group': 46, 'transit': 80.0},
 67: {'gender': 1, 'group': 47, 'transit': 70.0},
 68: {'gender': 0, 'group': 48, 'transit': 70.0},
 69: {'gender': 1, 'group': 49, 'transit': inf},
 70: {'gender': 0, 'group': 50, 'transit': inf},
 71: {'gender': 0, 'group': 51, 'transit': inf},
 72: {'gender': 1, 'group': 51, 'transit': inf},
 73: {'gender': 0, 'group': 52, 'transit': 60.0},
 74: {'gender': 0, 'group': 53, 'transit': 60.0},
 75: {'gender': 0, 'group': 54, 'transit': inf},
 76: {'gender': 0, 'group': 55, 'transit': inf},
 77: {'gender': 1, 'group': 55, 'transit': inf},
 78: {'gender': 0, 'group': 56, 'transit': inf},
 79: {'gender': 1, 'group': 56, 'transit': inf},
 80: {'gender': 0, 'group': 57, 'transit': 95.0},
 81: {'gender': 1, 'group': 57, 'transit': 95.0},
 82: {'gender': 1, 'group': 58, 'transit': inf},
 83: {'gender': 0, 'group': 59, 'transit': 70.0},
 84: {'gender': 1, 'group': 59, 'transit': 70.0},
 85: {'gender': 0, 'group': 60, 'transit': 120.0},
 86: {'gender': 0, 'group': 61, 'transit': inf},
 87: {'gender': 1, 'group': 61, 'transit': inf},
 88: {'gender': 1, 'group': 62, 'transit': inf},
 89: {'gender': 0, 'group': 63, 'transit': 120.0},
 90: {'gender': 1, 'group': 63, 'transit': 120.0},
 91: {'gender': 1, 'group': 64, 'transit': inf},
 92: {'gender': 0, 'group': 65, 'transit': inf},
 93: {'gender': 0, 'group': 65, 'transit': inf},
 94: {'gender': 1, 'group': 65, 'transit': inf},
 95: {'gender': 0, 'group': 66, 'transit': inf},
 96: {'gender': 1, 'group': 67, 'transit': inf},
 97: {'gender': 0, 'group': 68, 'transit': inf},
 98: {'gender': 1, 'group': 68, 'transit': inf},
 99: {'gender': 1, 'group': 69, 'transit': inf},
 100: {'gender': 0, 'group': 70, 'transit': inf},
 101: {'gender': 0, 'group': 71, 'transit': 120.0},
 102: {'gender': 1, 'group': 71, 'transit': 120.0},
 103: {'gender': 0, 'group': 72, 'transit': inf},
 104: {'gender': 1, 'group': 73, 'transit': inf},
 105: {'gender': 1, 'group': 74, 'transit': 65.0},
 106: {'gender': 1, 'group': 75, 'transit': 95.0},
 107: {'gender': 0, 'group': 76, 'transit': 95.0},
 108: {'gender': 0, 'group': 77, 'transit': 60.0},
 109: {'gender': 1, 'group': 77, 'transit': 60.0},
 110: {'gender': 1, 'group': 78, 'transit': inf},
 111: {'gender': 1, 'group': 79, 'transit': inf},
 112: {'gender': 1, 'group': 80, 'transit': 100.0},
 113: {'gender': 1, 'group': 81, 'transit': 120.0},
 114: {'gender': 1, 'group': 82, 'transit': 100.0},
 115: {'gender': 1, 'group': 83, 'transit': 100.0},
 116: {'gender': 1, 'group': 84, 'transit': 100.0},
 117: {'gender': 1, 'group': 85, 'transit': 100.0},
 118: {'gender': 1, 'group': 86, 'transit': 70.0},
 119: {'gender': 0, 'group': 87, 'transit': 60.0},
 120: {'gender': 1, 'group': 87, 'transit': 60.0},
 121: {'gender': 0, 'group': 88, 'transit': inf},
 122: {'gender': 0, 'group': 89, 'transit': 120.0},
 123: {'gender': 0, 'group': 90, 'transit': inf},
 124: {'gender': 1, 'group': 91, 'transit': 60.0},
 125: {'gender': 0, 'group': 92, 'transit': inf},
 126: {'gender': 1, 'group': 92, 'transit': inf},
 127: {'gender': 1, 'group': 93, 'transit': inf},
 128: {'gender': 1, 'group': 94, 'transit': inf},
 129: {'gender': 0, 'group': 95, 'transit': 90.0},
 130: {'gender': 1, 'group': 95, 'transit': 90.0},
 131: {'gender': 0, 'group': 96, 'transit': inf},
 132: {'gender': 1, 'group': 97, 'transit': inf},
 133: {'gender': 1, 'group': 98, 'transit': inf},
 134: {'gender': 1, 'group': 99, 'transit': inf},
 135: {'gender': 0, 'group': 100, 'transit': inf},
 136: {'gender': 0, 'group': 101, 'transit': inf},
 137: {'gender': 1, 'group': 102, 'transit': 100.0},
 138: {'gender': 0, 'group': 103, 'transit': 80.0},
 139: {'gender': 1, 'group': 103, 'transit': 80.0},
 140: {'gender': 0, 'group': 104, 'transit': inf},
 141: {'gender': 1, 'group': 104, 'transit': inf},
 142: {'gender': 0, 'group': 105, 'transit': inf},
 143: {'gender': 1, 'group': 106, 'transit': inf},
 144: {'gender': 0, 'group': 107, 'transit': inf},
 145: {'gender': 0, 'group': 108, 'transit': inf},
 146: {'gender': 0, 'group': 108, 'transit': inf},
 147: {'gender': 0, 'group': 109, 'transit': inf},
 148: {'gender': 0, 'group': 109, 'transit': inf},
 149: {'gender': 0, 'group': 110, 'transit': 95.0},
 150: {'gender': 0, 'group': 110, 'transit': 95.0},
 151: {'gender': 1, 'group': 111, 'transit': 60.0}}

## Model

In [9]:
number_of_seats = 174
weight_f = 70
weight_m = 85
weight_h = 92.5
number_of_rows = 29
number_of_columns = 6

number_f = int(sum([x for x in df['Femmes'] if not pd.isna(x)]))
number_m = int(sum([x for x in df['Hommes'] if not pd.isna(x)]))
number_h = int(sum([x for x in df['WCHR'] if not pd.isna(x)]))

In [10]:
m = Model("Seats_Allocation")

Set parameter Username
Academic license - for non-commercial use only - expires 2025-02-04

**Définition des variables**

In [11]:
AssignmenVarDict = {(i, j, k): m.addVar(vtype=GRB.BINARY, name=f'x_{i}_{j}_{k}') 
                    for i in range(1, number_of_rows + 1) 
                    for j in range(1, number_of_columns + 1) 
                    for k in range(1, len(Passagers) + 1)}

**Contrainte Satisfaction Clients**

In [12]:
# Contrainte : tous les passagers ont un siège 

m.addConstr(quicksum([AssignmenVarDict[(i, j, k)] 
                      for i in range(1, number_of_rows + 1) 
                      for j in range(1, number_of_columns + 1) 
                      for k in range(1, len(Passagers) + 1)]) 
            == len(Passagers), name='SeatPassengersCONST')

In [13]:
#Contrainte : Siège par personne

SeatPerPassengerCONST = {k: m.addConstr(quicksum([AssignmenVarDict[(i, j, k)] 
                                                  for i in range(1, number_of_rows + 1) 
                                                  for j in range(1, number_of_columns)]) 
                                         == 1, name=f'Passenger{k}UniqueSeat') 
                         for k in range(1, len(Passagers) + 1)}

In [14]:
#Contrainte : Personne par siège

SeatPerPassengerCONST = {(i,j): m.addConstr(quicksum([AssignmenVarDict[(i, j, k)] 
                                                      for k in range(1, len(Passagers) + 1) ]) 
                                         <= 1, name=f'Seat({i},{j})UniquePassenger') 
                         for i in range(1, number_of_rows + 1)
                         for j in range(1, number_of_columns +1)}

**Contrainte Centrage de L'avion**

In [15]:
PondeMen_i = weight_m * quicksum([AssignmenVarDict[(i, j, k)] * i 
                                 for i in range(1, number_of_rows + 1) 
                                 for j in range(1, number_of_columns + 1) 
                                 for k in range(1, len(Passagers) + 1) if Passagers[k]['gender'] == 1]) 

PondeWomen_i = weight_f * quicksum([AssignmenVarDict[(i, j, k)] * i 
                                   for i in range(1, number_of_rows + 1) 
                                   for j in range(1, number_of_columns + 1) 
                                   for k in range(1, len(Passagers) + 1) if Passagers[k]['gender'] == 0]) 

PondeWCHR_i = weight_h * quicksum([AssignmenVarDict[(i, j, k)] * i 
                                  for i in range(1, number_of_rows + 1) 
                                  for j in range(1, number_of_columns + 1) 
                                  for k in range(1, len(Passagers) + 1) if Passagers[k]['gender'] == 2]) 

Barycentre_i = (PondeMen_i + PondeWCHR_i + PondeWomen_i) / (weight_f * number_f + weight_h * number_h + weight_m * number_m)

In [16]:
PondeMen_j = weight_m * quicksum([AssignmenVarDict[(i, j, k)] * j 
                                 for i in range(1, number_of_rows + 1) 
                                 for j in range(1, number_of_columns + 1) 
                                 for k in range(1, len(Passagers) + 1) if Passagers[k]['gender'] == 1]) 

PondeWomen_j = weight_f * quicksum([AssignmenVarDict[(i, j, k)] * j 
                                   for i in range(1, number_of_rows + 1) 
                                   for j in range(1, number_of_columns + 1) 
                                   for k in range(1, len(Passagers) + 1) if Passagers[k]['gender'] == 0]) 

PondeWCHR_j = weight_h * quicksum([AssignmenVarDict[(i, j, k)] * j 
                                  for i in range(1, number_of_rows + 1) 
                                  for j in range(1, number_of_columns + 1) 
                                  for k in range(1, len(Passagers) + 1) if Passagers[k]['gender'] == 2]) 

Barycentre_j = (PondeMen_j + PondeWCHR_j + PondeWomen_j) / (weight_f * number_f + weight_h * number_h + weight_m * number_m)

In [17]:
m.addConstr(Barycentre_i <= 17, name='Bary_i_Sup')
m.addConstr(Barycentre_i >= 13, name='Bary_i_Inf')
m.addConstr(Barycentre_j <= 4, name='Bary_j_Sup')
m.addConstr(Barycentre_j >= 3, name='Bary_j_Inf')

**Contrainte WCHR**

In [18]:
'''SeatPer_WCHR_CONST = {k: m.addConstr(quicksum([AssignmenVarDict[i, j, k] 
                                               for i in range(1, number_of_rows) 
                                               for j in [3, 5] 
                                               ]) == 1, name=f"SeatPerWCHR{k}")
                                               for k in range(1, len(Passagers) + 1) if Passagers[k]['gender'] == 2}'''

'SeatPer_WCHR_CONST = {k: m.addConstr(quicksum([AssignmenVarDict[i, j, k] \n                                               for i in range(1, number_of_rows) \n                                               for j in [3, 5] \n                                               ]) == 1, name=f"SeatPerWCHR{k}")\n                                               for k in range(1, len(Passagers) + 1) if Passagers[k][\'gender\'] == 2}'

In [19]:
'''for k in range(1, len(Passagers) + 1):
    if Passagers[k]['gender'] == 2:
        for i in range(1, number_of_rows):
            for j in [3, 5]:
                m.addConstr((AssignmenVarDict[i, j, k] + AssignmenVarDict[i, j - 1, k]) <= 1, 
                            name=f'Neighbor_WCHR{k}_{i}_{j-1}')
                m.addConstr((AssignmenVarDict[i, j, k] + AssignmenVarDict[i + 1, j, k]) <= 1, 
                            name=f'Neighbor_WCHR{k}_{i+1}_{j}')
                m.addConstr((AssignmenVarDict[i, j, k] + AssignmenVarDict[i + 1, j - 1, k]) <= 1, 
                            name=f'Neighbor_WCHR{k}_{i+1}_{j-1}')'''

"for k in range(1, len(Passagers) + 1):\n    if Passagers[k]['gender'] == 2:\n        for i in range(1, number_of_rows):\n            for j in [3, 5]:\n                m.addConstr((AssignmenVarDict[i, j, k] + AssignmenVarDict[i, j - 1, k]) <= 1, \n                            name=f'Neighbor_WCHR{k}_{i}_{j-1}')\n                m.addConstr((AssignmenVarDict[i, j, k] + AssignmenVarDict[i + 1, j, k]) <= 1, \n                            name=f'Neighbor_WCHR{k}_{i+1}_{j}')\n                m.addConstr((AssignmenVarDict[i, j, k] + AssignmenVarDict[i + 1, j - 1, k]) <= 1, \n                            name=f'Neighbor_WCHR{k}_{i+1}_{j-1}')"

## Fonction objectif

**Fonction obj : groupes**

In [20]:
a = 0.3  # Poids pour la distance en ligne
b = 0.1  # Poids pour la distance en colonne

objective_groups = quicksum((a * abs(i1 - i2) + b * abs(j1 - j2)) * AssignmenVarDict[(i1, j1, k1)] * AssignmenVarDict[(i2, j2, k2)]
                            for i1 in range(1, number_of_rows + 1)
                            for j1 in range(1, number_of_columns + 1)
                            for i2 in range(1, number_of_rows + 1)
                            for j2 in range(1, number_of_columns + 1)
                            for k1 in Passagers.keys()
                            for k2 in Passagers.keys()
                            if Passagers[k1]['group'] == Passagers[k2]['group'])

**Fonction obj : transit**

In [21]:
objective_transit = quicksum(AssignmenVarDict[(i, j, k)] *(i / (Passagers[k]['transit']))
                             for i in range(1, number_of_rows + 1) 
                             for j in range(1, number_of_columns + 1) 
                             for k in range(1, len(Passagers) + 1) 
                             if Passagers[k]['transit'] != float('inf'))

In [22]:
#obj = objective_transit + objective_groups

## Optimisation

In [23]:
# Ajout de la fonction objectif
m.setObjective(objective_groups, GRB.MINIMIZE)

m.params.outputflag = 0 # mode muet

# Mise à jour du modèle  --
m.update()

In [24]:
# -- Résolution --
m.optimize()

In [25]:

# -- Vérification du statut et Affichage (le cas échéant) des solutions --
if m.status == GRB.INF_OR_UNBD:
    m.setParam(GRB.Param.Presolve, 0)
    m.optimize()

# Vérification du statut et affichage des solutions si nécessaire
if m.status == GRB.INF_OR_UNBD:
    m.setParam(GRB.Param.Presolve, 0)
    m.optimize()

if m.status == GRB.INFEASIBLE:
    print("Feasible solution found, but not necessarily optimal.")
elif m.status == GRB.UNBOUNDED:
    print("Model is unbounded.")
else:
    print(f'Optimal solution found with satisfaction = {round(m.objVal, 2)}')

print()

Feasible solution found, but not necessarily optimal.