# <font color=blue><div align="center">Seats Allocation within an Aircraft</div></font>

## Modules

In [2]:
# Modules de base
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

# Module relatif à Gurobi
from gurobipy import *

# Module csv
import csv

## Préprocessing des données

Pour la suite de notre étude, on considère le modèle d'avion **Airbus A320**, qui dispose de **174** sièges. (La classe businees n'est pas prise en compte)


<img src="modele_avion.jpg" alt="Modèle de l'avion" width="400" height="600">

In [3]:
number_of_seats = 174

In [4]:
# Load the Excel file into a pandas DataFrame

df_21Oct = pd.read_excel('../ST7 - AirFrance/DataSeating 2024.xlsx', sheet_name=0 , skipfooter=2)
df_22Oct = pd.read_excel('../ST7 - AirFrance/DataSeating 2024.xlsx', sheet_name=1 , skipfooter=2)
df_23Oct = pd.read_excel('../ST7 - AirFrance/DataSeating 2024.xlsx', sheet_name=2 , skipfooter=2)
df_24Oct = pd.read_excel('../ST7 - AirFrance/DataSeating 2024.xlsx', sheet_name=3 , skipfooter=2)
df_30Oct = pd.read_excel('../ST7 - AirFrance/DataSeating 2024.xlsx', sheet_name=4 , skipfooter=2)
df_05Nov = pd.read_excel('../ST7 - AirFrance/DataSeating 2024.xlsx', sheet_name=5 , skipfooter=2)
df_07Nov = pd.read_excel('../ST7 - AirFrance/DataSeating 2024.xlsx', sheet_name=6 , skipfooter=2)

In [5]:
# Displaying the data

df_07Nov.head()

   Numéro du groupe  Femmes  Hommes  WCHR TransitTime
0                 1     1.0     NaN   NaN    00:55:00
1                 2     NaN     1.0   NaN    00:00:00
2                 3     1.0     NaN   NaN    01:15:00
3                 4     1.0     1.0   NaN    03:15:00
4                 5     1.0     NaN   NaN    00:00:00

In [6]:
# On choisit la df sur laquelle on va travailler

df = df_21Oct

In [10]:
len(df)

111

In [7]:
# Création d'un dictionnaire avec les données des passagers

DataPassengers = {}

for i in range(len(df)):

    Group = df["Numéro du groupe"][i]
    Sexe = 0 # 0 pour femme et 1 pour homme et 2 pour WCHR
    if df["Homme"][i] == 1:
        Sexe = 1
    elif df['WCHR'][i] == 1:
        Sexe = 2

Numéro du groupe
Femmes
Hommes
WCHR
TransitTime